body {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.img-thumbnail {
    width: 200px;
    border: none;
}
#edgar {
    float: right;
}

h1 {
    text-decoration: underline;
}